body {
  margin: 0;
  text-align: center;
  background-color: #ddf3f5;
  font-family: 'Merriweather', serif;
  size:75%;
}

span {
  font-style: italic;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 500%;
  font-style: oblique;
}
h3{
  color: #01a9b4;
  left: 300px;
}

p {
  font-family: 'Montserrat', cursive;
  font-size: 1rem;
  width: 900px;
  margin-left: 30px;
}

.container {
  width: 80%;
  height: 650px;
  color: #01a9b4;
  background-color: #ddf3f5;
  position: absolute;
  margin: 100px 100px 0 100px;
  line-height: 2;
}

.second {
  position: absolute;
  right: 0;
}

.cloud {
  position: absolute;
  top: 100px;
  left: 30px;
  width: 200px;
}

.mountain {
  position: absolute;
  left: 150px;
  bottom: 0;
}

.description {
  width: 100%;
  position: absolute;
  top: 920px;
  left: 0;
  background-color: white;
  height: 1200px;
  margin-right: 0;
}

.profileimage {
  position: absolute;
  top: 100px;
  left: 43%;
}
.img{
  float: left;
  position: relative;
  width:200px;
  height:250px;
  margin: 1px auto 50px auto;
}
.img1{
  float: right;
  position: relative;
  width:100px;
  height:100px;
  margin: 50px 50px 100px 100px;
}

.new {
  position: absolute;
  top: 320px;
  height: 900px;
}
.skills{
  margin-top:400px;
  margin-bottom: 10px;
}

.bottom-container {
  position: absolute;
  bottom: 0;
  top: 1200px;
left:190px;
  color:#01a9b4;
  background-color: #ddf3f5;
}
.buddy{

}
.skill-row1{
  line-height: 2;
  text-align: left;
  margin: 10px 25% 100px 10px;
  width: 800px;
}

.skill-row2{
  line-height: 2;
  text-align: left;
  margin: 10px 25% 100px 100px;
  width: 800px;
}
.content1{
  width: 800px;
  margin: 100px 100px 100px 100px;
  position: relative;
  top: 0px;
}
.content2{
  width: 800px;
  margin: 100px 100px 100px 300px;
  position: relative;
  top: 0px;
}
.BUTTON_ZZD {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient( bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_ZZD:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient( bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.footer-link{
color:#01a9b4;
text-decoration: none;
margin: 10px 10px;
}
a{
  color:#01a9b4;
  text-decoration: none;
}
